@using System.Security.Claims

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <span class="brand-logo center">@Html.ActionLink("Stack Overflow Clone", "Index", "Question")</span>
            <ul class="right">
                <li>@Html.ActionLink("Questions", "Index", "Question")</li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink($"{User.Identity.Name}'s Account", "Index", "Account")</li>
                }
                else
                {

                    <li>@Html.ActionLink("Login", "Index", "Account")</li>
                }
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
